/* All */

body {
    font-family: Poppins, Tahoma;
    margin:0px;
    padding:0px;
    background-color: #090747;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Navbar */

.btn-1
{
    background-color: #090747;
    border-radius: 15px;
    padding: 10px 20px;
}

.btn-1 a
{
    color: #DDF3F2;
    font-weight: 500;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #DDF3F2;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    padding: 0px 2%;
    border-radius: 15px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 30px;
    font-family: 'Poppins';
    color: #090747;
    font-size: 16px;
    font-weight: 650;
}

nav ul li a {
    color: #090747;
}

nav ul li img {
    height: 50px;
    width: 50px;
}

.logo {
    display: flex;
    font-family: 'Poppins';
    color: #090747;
    font-size: 20px;
    font-weight: bold;
}

/* End of Navbar */

/* Content */

#content {
    background: #DDF3F2;
    margin: 2%;
    border-radius: 20px;
    padding-bottom: 5%;
}

.form-profile {
    display: flex;
    margin-left: 3%;
}

.form-profile-1 img {
    width: 200px;
}

.form-profile-1 h3 {
    font-size: 15px;
    text-align: center;
    margin: 0 0 10px;
}

.form-profile-2 h1 {
    font-size: 60px;
}

.form-group {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2%;
}

.name {
    display: flex;
    align-items: flex-end;
    width: 97.4%;
}

.name-1 {
    padding-right: 86px;
}

.form-group label {
    display: block;
    margin: 20px 0 5px 0;
    font-size: 17px;
    font-weight: 800;
}

.form-group input {
    width: 95%;
    padding: 10px 10px;
    outline: 0;
    border: none;
    border-radius: 5px;
}

.form-group-column-1 {
    width: 38.5%;
}

.form-group-column-2 {
    width: 38.5%;
}

.dropdown {
    display: flex;
    justify-content: space-between;
}

select {
    width: 30%;
    padding: 10px 10px;
    outline: 0;
    border: none;
    border-radius: 5px;
}

.gender .radio {
    display: flex;
    justify-content: space-evenly;
}

.gender input {
    width: 5%;
}

/* End of Content */

/* Footer */

.footer {
    display: flex;
    justify-content: center;
    height: 60px;
    background-color: #DDF3F2;
    border-radius: 10px;
}

.footer p {
    color: #090747;
    font-size: 20px;
    font-weight: 600;
}

/* End of Footer */