body
{
    margin:0px;
    padding:0px;
    background-color: #090747;
}


/* Start Style of Landing Page */

ul
{
    list-style: none;
}

a
{
    text-decoration: none;
}

/* Login Button */
.btn1
{
    border-radius: 15px;
    width: 145px;
    height: 46px;
    background-color: #090747;
    font-size: 16px;
    font-weight: 650;
}

.btn1 a
{
    color: #DDF3F2;
    font-family: 'Poppins';
    text-align: center;
}
/* action button (floating button) */
.act-btn
{
    background-color: #DDF3F2;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    text-decoration: none;
    transition: ease all 0.3s;
    position: fixed;
    right: 30px;
    bottom:30px;
    z-index: 1;
}

.act-btn:hover
{
    background: #EAE000
}

.icon
{
    width: 50px;
    position: center;
    bottom: 30px;
}
/* and of action button (floating button) */

/* start of navbar */
nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #DDF3F2;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    padding: 0px 5%;
    border-radius: 15px;    
}

nav ul
{
    display: flex;
    margin-left:355px;
}

nav ul li
{
    margin: 30px;
    font-family: 'Poppins';
    color: #090747;
    font-size: 16px;
    font-weight: 650;
}

nav ul li a
{
    color: #090747;
}

.logo
{
    display: flex;
    font-family: 'Poppins';
    color: #090747;
    font-size: 20px;
    font-weight: bold;
}
/* end of navbar */

/* start of content */
#content
{
    width: 100%;
    height: 120vh;
    position: relative;
}

.content p
{
    line-height: 0px;
    margin: 55px 0px 25px;
}
.content p:nth-child(1)
{
    font-family:'Poppins';
    font-weight: 600;
    color: rgb(0, 0, 107);
    font-size: 32px;
}
.content p:nth-child(2)
{
    font-family: 'Poppins';
    font-weight: 800 ;
    color: rgb(0, 0, 107);
    font-size: 30px;
    margin-top: 80px;
}

.content p:nth-child(3)
{
    font-family: 'poppins';
    font-weight: 600;
    color: rgb(0, 0, 107);
    font-size: 14px;

}

.content p:nth-child(4)
{
    font-family: 'Poppins';
    font-weight: 600;
    color: rgb(0, 0, 107);
    font-size: 14px;
    margin-top: 10px;

}

.content
{
    position: absolute;
    left: 5%;
    right: 10%;
    top: 20%;
    transform: translate(3%, 42%);
    z-index: 1;
}

/* start of button daftar */
.btn2
{
    width: 248px;
    height: 52px;
    border-radius: 15px;
    background:#09074700;
    border-color: #090747;
    border-width: 4px;
}

.btn2 a
{
    color: #090747;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}
/* end of button daftar */

.object1
{
    width: 1300px;
    height: 621px;
    position: relative;
    top: 5%;
    left: 2%;
}
.pic
{
    width: 366px;
    height: 337;
    position: absolute;
    left: 70%;
    top: 50%;
}
/* end of content */

/* start of primacy */
.primacy
{
    height: 85vh;
    padding: 2% 10% 10%;
}

.primacy.desc
{
    margin: 30px 50px;
}

.primacy-desc p:nth-child(1)
{
    font-family: 'Poppins';
    font-weight: bold;
    color:azure;
    font-size: 40px;
    line-height: 0px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
}

.primacy-desc p:nth-child(2)
{
    font-family: Poppins;
    color:azure;
    text-align: center;
    margin-bottom: 16px;
}

.primacy-desc img
{
    width: 322px;
    height: 322px;
    position: absolute;
    left: 975px;
    margin-top: -110px;
}

.object2
{
    width: 1304px;
    height: 691px;
    position: absolute;
    margin: 25px 0px 0px 25px;
    top: 156%;
    z-index: -1;
}

.column1
{
    display: flex;
    background-color: #090747;
    margin: 200px 100px;
    width: 650px;
    height: 87px;
    border-radius: 15px;
    text-align: center;
    font-family: 'poppins';
    font-weight: 500;
    font-size: 20px;
    justify-content: space-between;
    z-index: 1;
}

.column1 img
{
    width: 37.54px;
    height: 42.15px;
    margin-top: 20px;
    margin-left: 30px;
    z-index: 1;
}

.column1 p
{
    margin-left: 5px;
    margin-top: 15px;
    z-index: 1;
    color: #DDF3F2;
}

.column2
{
    display: flex;
    background-color: #090747;
    margin: -150px 600px;
    width: 650px;
    height: 87px;
    border-radius: 15px;
    text-align: center;
    font-family: 'poppins';
    font-weight: 500;
    font-size: 20px;
    justify-content: space-between;
    z-index: 1;
}

.column2 img
{
    width: 43.77px;
    height: 37.19px;
    margin-top: 23px;
    margin-left: 30px;
    position: absolute;
    z-index: 1;
}

.column2 p
{
    margin-left: 135px;
    margin-top: 25px;
    position: absolute;
    z-index: 1;
    color: #DDF3F2;
}

.column3
{
    display: flex;
    background-color: #090747;
    margin: 195px 100px;
    width: 650px;
    height: 87px;
    border-radius: 15px;
    text-align: center;
    font-family: 'poppins';
    font-weight: 500;
    font-size: 20px;
    z-index: 1;
    justify-content: space-between;
}

.column3 img
{
    width: 40.54px;
    height: 45.15px;
    margin-top: 20px;
    margin-left: 30px;
    position: absolute;
    z-index: 1;
}

.column3 p
{
    margin-left: 135px;
    margin-top: 25px;
    z-index: 1;
    color: #DDF3F2;
    position: absolute;
}

.column4
{
    display: flex;
    background-color: #090747;
    margin: -150px 600px;
    width: 650px;
    height: 87px;
    border-radius: 15px;
    text-align: center;
    font-family: 'poppins';
    font-weight: 500;
    font-size: 20px;
    z-index: 1;
    justify-content: space-between;
}

.column4 img
{
    width: 40.54px;
    height: 45.15px;
    margin-top: 20px;
    margin-left: 30px;
    position: absolute;
    z-index: 1;
}

.column4 p
{
    margin-left: 100px;
    margin-top: 25px;
    z-index: 1;
    color: #DDF3F2;
    position: absolute;
}

/* end of primacy */

/* End of Style Landing Page */

/* Start of Style Login Page */

* {
    font-family: "Poppins", sans-serif;
   
  .html, body {
      height: 100%;
      background-color: #090747;
  }
  
  .global-container h1 {
      font-size: 20px;
  }
  .global-container {
      height: 100%;
      display: flex;
      font-size: 17px;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      color: #090747;
  }
  .login-form 
  {
    width: 590px;
    height: 450px;
    padding: 20px;
    border-radius: 15px;
    background-color: #DDF3F2 ;
  }
  
  .btn button{
  background-color: #090747;
  color: #DDF3F2;
  margin-left: 220px;
  width: 97px;
  height: 30px;
  border-radius: 15px;
  }

  .btn-google {
  width: 50%;
  height: 39px;
  flex-shrink: 0;
  margin-left: 145px;
  border-radius: 15px;
  margin-top: 15px !important;
  margin-bottom: 10px;
  font-size: 13px;
  font-family: Poppins;
  color: #090747;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-items: center;
  }

  .login-form span 
  {
    margin-left: 170px;
    color: #090747;
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
  }
  
  .login-form span a {
      font-weight: 600;
      color: #090747;
      line-height: 40px;
      }
  }

  /*End of Style Login Page  */